<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>

    <div id="app">
        <input v-model="nom" @keyup="search" type="text" name="artiste" id="artiste" placeholder="Tapez le nom d'un artiste" autofocus required />
        <p v-if="nom != ''" >Vous avez cherché : {{ nom }}</p>
    </div>

    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    nom: ''
                }
            },
            methods: {
                search() {
                    name: this.nom;
                }
            }
        })

        vm.component('')

        vm.mount('#app')
    </script>
</body>

</html>